<!--The content below is only a placeholder and can be replaced.-->
<div class="home-title">
  <button class="language-btn" [ngClass]="{'selected': currentLanguage=='zh'}"
    (click)="changeLang('zh')">{{'home.zh'|translate}}</button>
  <button class="language-btn" [ngClass]="{'selected': currentLanguage=='en'}"
    (click)="changeLang('en')">{{'home.en'|translate}}</button>
</div>
<div class="firstShow" *ngIf="showFirstPage" (click)="showFirstPage=false">
  {{'home.tip_title'|translate}}
</div>

<div class="mainShow" *ngIf="!showFirstPage">
  <div class="main-title">
    <a [routerLink]="[ '/basic' ]" routerLinkActive="activeItem"><div>基本知识</div></a>
    <a [routerLink]="[ '/framework' ]" routerLinkActive="activeItem"><div>框架</div></a>
    <a [routerLink]="[ '/plugIn' ]" routerLinkActive="activeItem"><div>前端插件</div></a>
    <a [routerLink]="[ '/practice' ]" routerLinkActive="activeItem"><div>实战练习</div></a>
  </div>
  <router-outlet></router-outlet>
</div>